name: Run E2E Tests Manually
on:
  workflow_dispatch:
    inputs:
      wpImage:
        description: "WordPress image to use for the test suite. Default: wordpress:latest. Check https://hub.docker.com/_/wordpress for more options."
        required: true
        default: "wordpress:latest"
      wcVersion:
        description: "WooCommerce version to use for the test suite. Leave empty for latest version and use 'dev' for development versions. Default: dev. Check https://wordpress.org/plugins/woocommerce/advanced/ for more options."
        required: true
        default: "dev"
    schedule:
      # Runs at 12:00 UTC the first day of the month.
      - cron: "00 12 1 * *"
jobs:
  run:
    timeout-minutes: 60
    name: Run E2E Tests WP Version ${{github.event.inputs.wpImage || 'latest' }} with WC Version ${{ github.event.inputs.wcVersion || 'latest' }}
    runs-on: ubuntu-latest
    steps:
      # Checkout repo.
      - uses: actions/checkout@v3
        with:
          # Use the master branch if no input is provided.
          ref: ${{ github.ref || 'master' }}

      - uses: actions/setup-node@v3 # Install node version 16.
        with:
          node-version: 16

      # Install all composer dependencies for the plugin.
      - name: Install Composer dependencies
        uses: php-actions/composer@v6
        with:
          dev: no
          php_version: 7.4

      # Install and build Block release.
      - name: Build block release versions.
        run: |
          npm ci
          npm run build

      # Install NPM packages for tests.
      - name: Install NPM packages.
        working-directory: tests/e2e
        run: npm ci

      # Start the docker container for the test suite.
      - name: Start docker container.
        working-directory: tests/e2e
        env:
          WP_IMAGE: ${{ github.event.inputs.wpImage }}
          WC_VERSION: ${{ github.event.inputs.wcVersion }}
        run: npm run docker:up

      # Only the chromium browser for now.
      - name: Install Chromium browser with Playwright
        working-directory: tests/e2e
        run: npx playwright install chromium

      # Run all tests
      - name: Run E2E Tests with Playwright.
        working-directory: tests/e2e
        env:
          CI: 1
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        run: npx playwright test
